@font-face {
  font-family: "PlexMono";
  src: url("/assets/IBMPlexMono-Bold-Latin1.woff2");
}

html,
body {
  background: transparent;
  margin: 0 0 0 0;
  scrollbar-width: none;
}

html {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

body {
  display: flex;
  flex-direction: column;
}

:root {
  font-family: "PlexMono", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.button-deck {
  height: 40pt;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* background: #060628f1; */
  background: hsla(265, 90%, 20%, 0.1);
  border-radius: 9px;
}