.meter-outer {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: hsla(258, 30%, 45%, 0.4);
    box-shadow: inset 1px 1px 1px #00000049;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.meter-inner {
    max-width: 39px;
    max-height: 39px;
    width: 39px;
    height: 39px;
    border-radius: 20px;
    background: hsla(208, 95%, 33%, 0.984)
}