@font-face {
  font-family: "PlexMono";
  src: url("/assets/IBMPlexMono-SemiBold-Latin1.woff2");
}

html,
body {
  background: transparent;
  margin: 0;
  scrollbar-width: none;
}

html {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

body {
  display: flex;
  flex-direction: column;
}

:root {
  font-family: "PlexMono", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.command-history {
  margin: 0 0 6px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
}

.command {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.4em;
  color: #d5d4d4;
  background-color: hsla(265, 60%, 7.5%, 0.9);
  transition: border-color 0.25s;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  margin-top: 3px;
  /* backdrop-filter: blur(10px); does not currently work */
  animation: 120ms linear slide-in,
    0.5s ease-out 11.5s fadeout forwards;
}

@keyframes slide-in {
  0% {
    transform: translateY(100%)
  }

  100% {
    transform: translateY(0)
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}