.meter-outer {
    transition: 1s;
    animation: 3s ease;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #271b44ca;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.meter-inner {
    max-width: 39px;
    max-height: 39px;
    width: 39px;
    height: 39px;
    border-radius: 20px;
    background: #1e0095fb;
}